:root {
  --max-width-container: 900px;

  --clr-bgd: #09080c;
  --clr-purple: hsl(250, 100%, 75%);
  --clr-orange: #ff8a00;
  --clr-orange2: #ffb053;
  --clr-neon: hsl(317 100% 54%);
  --clr-neon2: hsl(323 21% 16%);

  --blade-hue: 120;
  --blade-lightness: 50%;

  --gradient: linear-gradient(
    45deg,
    #277da1,
    #4d908e,
    #43aa8b,
    #90be6d,
    #f9c74f,
    #f9844a,
    #f8961e,
    #f3722c,
    #f94144
  );
}

html,
body {
  background-color: var(--clr-bgd);
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
